body{
  margin:0px;
}

h1,p{
  margin: 0px;
  padding: 0px;
}

button,[type="submit"]{
  padding: 18px 0px;
  cursor: pointer;
}

input{
  display: block;
 }

 input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}